
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    string username = (string)ViewBag.Username;
}
<h1>@(username)'s Collection</h1>

<div class="button">View Trade Binder</div>

<div class="button">View Wanted Cards</div>