@using CardTrader.Controllers
@using CardTrader.Infrastructure.Data.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@{

}

@if (UserManager.GetUserAsync(this.User).Result.BinderId != null)
{
    <h1>Trade Binder</h1>
    <div class="button">Add Card</div>
}
else
{

    <div class="card">
        <div class="card-header">
            You don't have a Binder
        </div>
        <div class="card-body">
            <a asp-controller="Collection" asp-action="CreateBinder">
                <div class="button">Create Binder</div>
            </a>
        </div>
    </div>
}