@using CardTrader.Controllers
@using CardTrader.Infrastructure.Data.Models
@using Microsoft.AspNetCore.Identity
@{

}

@if ((bool)ViewData["HasBinder"])
{
    <h1>Trade Binder</h1>

    @*@foreach (Card card in (ICollection<Card>)ViewData["TradeBinder"])
        {
            <div class="Card">
                <div class="card-header">
                    @card.Name
                </div>
                <div class="card-body">
                    <img src="@card.ImageUrl" align="middle"></img>
                </div>
            </div>
        }*@

    <a href="~/Card/Create">
        <div class="button">Add Card</div>
    </a>
}
else
{

    <div class="card">
        <div class="card-header">
            You don't have a Binder
        </div>
        <div class="card-body">
            <a asp-controller="Collection" asp-action="CreateBinder">
                <div class="button">Create Binder</div>
            </a>
        </div>
    </div>
}