@using CardTrader.Controllers
@using CardTrader.Infrastructure.Data.Models
@using Microsoft.AspNetCore.Identity
@{

}

@if ((bool)ViewData["HasWanted"])
{
    <h1>Wanted List</h1>

    <partial name="_WantedPartial"/>

    <a href="~/Card/Create">
        <div class="button">Add Card</div>
    </a>
}
else
{

    <div class="card">
        <div class="card-header">
            You don't have a Wanted List
        </div>
        <div class="card-body mt-1">
            <a asp-controller="Collection" asp-action="CreateWanted">
                <div class="button">Create Wanted List</div>
            </a>
        </div>
    </div>
}