@using CardTrader.Controllers
@using CardTrader.Infrastructure.Data.Models
@using Microsoft.AspNetCore.Identity
@{

}

@if ((bool)ViewData["HasWanted"])
{
    <h1>Wanted List</h1>

    @foreach (Card card in (List<Card>)ViewData["Cards"])
        {
            <div class="Card">
                <div class="card-header">
                    @card.Name
                </div>
                <div class="card-body">
                    <img src="@card.ImageUrl" align="middle"></img>
                </div>
            </div>
        }

    <a href="~/Card/Create">
        <div class="button">Add Card</div>
    </a>
}
else
{

    <div class="card">
        <div class="card-header">
            You don't have a Wanted List
        </div>
        <div class="card-body">
            <a asp-controller="Collection" asp-action="CreateWanted">
                <div class="button">Create Wanted List</div>
            </a>
        </div>
    </div>
}