@using CardTrader.Infrastructure.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>

@*Yoinked login partial from CardMarket*@
@*<ul id="main-nav" class="nav align-items-center justify-content-xl-center text-uppercase ml-auto ml-xl-0"><li class="nav-item"><div id="login-signup" class="d-flex"><form method="POST" action="/en/YuGiOh/PostGetAction/User_Login" id="header-login" class="form-inline d-none d-lg-inline-flex"><input type="hidden" name="__cmtkn" value="bb78ab76786e17e4df0bcc46a34c3a2781a8d86aed866e3602e5d743b46ab360" autocomplete="off"><input type="hidden" name="referalPage" value="/en/YuGiOh"><div class="form-group"><label class="sr-only">Username</label><div class="input-group mr-sm-2 input-group-sm"><div class="input-group-prepend "><span class="input-group-text"><span class="fonticon-users"></span></span></div><a href="/en/YuGiOh/Login/ForgotUsername" class="forgot-link"><abbr class="initialism" title="Forgot your username?">Forgot?</abbr></a><input type="text" name="username" placeholder="Username" aria-label="Username" tabindex="1" title="Insert your Username" required="" class="form-control username-input"></div></div><div class="form-group"><label class="sr-only">Password</label><div class="input-group mr-sm-2 input-group-sm"><div class="input-group-prepend "><span class="input-group-text"><span class="fonticon-key"></span></span></div><a href="/en/YuGiOh/Login/ForgotPassword" class="forgot-link"><abbr class="initialism" title="Forgot your password?">Forgot?</abbr></a><input type="password" name="userPassword" placeholder="Password" aria-label="Password" tabindex="2" title="Insert your Password" required="" class="form-control password-input"></div></div><input type="submit" value="Log in" title="Log in" tabindex="3" class="btn AB-login-btn btn-outline-primary btn-sm"></form><a role="button" href="/en/YuGiOh/Login" id="HeaderLoginLink" class="btn d-none ml-3 btn-outline-primary btn-sm">Log in</a><button type="button" onclick="document.querySelector('.custom-toggler').click(),document.querySelector('#offcanvas-nav .username-input').focus();" class="btn btn-outline-primary btn-sm login-btn d-none d-sm-inline-flex d-lg-none ml-3">Log in</button><a role="button" href="/en/YuGiOh/Signup" class="btn btn-primary signup-link btn-sm ml-3">Sign up</a></div></li></ul>*@