@using CardTrader.Infrastructure.Data.Models

@foreach (Card card in (List<Card>)ViewData["Cards"])
    {
        <div class="card-small">
            <div class="card-header-small">
                @card.Name
            </div>
            <div class="card-body-small">
                <form asp-controller="Card" asp-action="Info">
                    <input type="hidden" name="cardId" value="@card.Id">
                    <input type="image" src="@card.ImageUrl" align="middle" width="177" height="258">
                </form>
            </div>
        </div>
    }