@using CardTrader.Infrastructure.Data.Models
@{
    var threads = (List<ForumThread>)ViewData["Threads"];
}

<a class="button mb-5" href="~/Forum/CreateThread">Create New Thread</a>

<body>
    <div class="main">

        <ol>
            @foreach(var thread in threads)
            {
                <li class="row">
                    <form asp-controller="Forum" asp-action="Thread">
                        <input type="hidden" name="threadId" value="@thread.Id">
                        <input type="submit" class="button-form" value="See Thread">
                        <div>@thread.Title</div>
                        <div class="bottom">
                            <p class="timestamp">
                                @thread.CreationDate
                            </p>
                        </div>
                    </form>
                </li>
            }
        </ol>
    </div>
</body>