html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

.static {
    position: absolute;
    top: 0px;
    right: 0px;
}

body {
    margin: 10px 60px;
    padding: 0;
    background-color: #18141d;
    color: #7900f1;
    font-family: sans-serif;
}

header {
    color: #7900f1;
    background-color: #1b0d2b;
    border-color: #a46bdd;
    font-family: sans-serif;
}

.navbar-custom {
    color: #7900f1;
    background-color: #1b0d2b;
    border-color: #a46bdd;
    font-family: sans-serif;
}

.nav-link-custom {
    color: #7900f1;
    font-weight: 400;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    position: relative;
    text-align: center;
    width: 400px;
    height: 100px;
    padding: 15px;
    font-size: 40px;
    color: #7900f1;
    font-family: sans-serif;
    font-weight: 400;
    border: 5px solid #7900f1;
    background-color: #0C0019;
    cursor: pointer;
    border-radius: 20px;
    user-select: none;
}

    .button:hover {
        color: #8000ff;
        box-shadow: 0 0px 5px 0 inset #7900f1, 0 0px 5px 0 #7900f1;
    }

    .button:active {
        background-color: #200b36;
        box-shadow: 0 0px 20px 0 inset #7900f1;
        text-shadow: 0 0 20px #7900f1;
    }

.button-form {
    position: relative;
    text-align: center;
    width: 150px;
    height: 30px;
    font-size: 16px;
    color: #7900f1;
    font-family: sans-serif;
    font-weight: 400;
    border: 3px solid #7900f1;
    background-color: #0C0019;
    cursor: pointer;
    border-radius: 7px;
    user-select: none;
}

.button-form:hover {
    color: #8000ff;
    box-shadow: 0 0px 5px 0 inset #7900f1, 0 0px 5px 0 #7900f1;
}

.button-form:active {
    background-color: #200b36;
    box-shadow: 0 0px 20px 0 inset #7900f1;
    text-shadow: 0 0 20px #7900f1;
}

.card {
    position: unset;
    border: 5px solid #7900f1;
    background-color: #0C0019;
    user-select: none;
}

.card-header {
    text-align: center;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 40px;
    background-color: #1b0d2b;
    color: #7900f1;
    border-bottom: 5px solid #7900f1;
    user-select: none;
}

.card-body {
    user-select: none;
}

.card-small {
    position: static;
    border: 5px solid #7900f1;
    background-color: #0C0019;
    inline-size: min-content;
    display: table-cell;
    user-select: none;
    width: auto;
    margin: auto;
}

.card-header-small {
    text-align: center;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 25px;
    background-color: #1b0d2b;
    color: #7900f1;
    border-bottom: 5px solid #7900f1;
    user-select: none;
}

.card-body-small {
    user-select: none;
}

.card-info {
    position: static;
    border: 5px solid #7900f1;
    background-color: #0C0019;
    display: table;
    user-select: none;
    width: auto;
    margin: auto;
}

.card-header-info {
    text-align: center;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 40px;
    background-color: #1b0d2b;
    color: #7900f1;
    border-bottom: 5px solid #7900f1;
    user-select: none;
}

.card-body-info {
    user-select: none;
    font-size: 30px;
    font-weight: 400;
    text-align: justify;
}

a {
    color: #7900f1;
    text-decoration: none;
}

.master {
    display: table;
}

.img, .frm {
    display: table-cell;
    vertical-align: top;
}

.bottom .top-comment {
    display: flex;
    color: #7900f1;
    font-size: 12px;
}

.timestamp{
    padding-right: 10px;
}

h1, h4, ol{
    margin: 0;
}

p{
    margin: 5px 0;
}

textarea{
    width: 80%;
    height: 80px;
}

.top-bar {
    background-color: #1b0d2b;
    padding: 0 40px;
}

.row{
    padding: 5px 0;
}

.main {
    background-color: #0C0019;
    padding: 10px 15px;
    border: 5px solid #7900f1;
}

.comments{
    margin: 40px 0;
}

.comment {
    margin: 10px 0;
}

.comment-ts{

}

.button-forum {
    position: relative;
    text-align: center;
    width: 150px;
    height: 30px;
    font-size: 16px;
    color: #7900f1;
    font-family: sans-serif;
    font-weight: 400;
    border: 3px solid #7900f1;
    background-color: #0C0019;
    cursor: pointer;
    border-radius: 7px;
    user-select: none;
    display: block;
    margin: 10px 0;
}

    .button-forum:hover {
        color: #8000ff;
        box-shadow: 0 0px 5px 0 inset #7900f1, 0 0px 5px 0 #7900f1;
    }

    .button-forum:active {
        background-color: #200b36;
        box-shadow: 0 0px 20px 0 inset #7900f1;
        text-shadow: 0 0 20px #7900f1;
    }